.container {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
}

.title {
  white-space: normal;
  color: var(--white);
  font-size: 80px;
  font-weight: 700;
  text-align: left;
  line-height: 100px;
  text-transform: uppercase;
  font-family: 'Bebas', 'SansPro', sans-serif;
  font-stretch: ultra-condensed;
  padding: 20px;
}

.titleBlue {
  color: var(--blue);
}

.rightBlok {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 15px;
  padding-top: 20px;
}

.downloadBtn {
  position: relative;
}

.downloadBtnText {
  color: var(--blue);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 16px;
  font-family: 'Bebas', 'SansPro', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.downloadBtn:hover {
  .downloadBtnText {
    color: var(--white);
  }
  .downloadBtnIcon {
    fill: var(--blue);
  }
}

.rightDescr {
  color: var(--white);
  white-space: pre-line;
  font-family: 'SansPro', sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-align: right;
  line-height: 30px;
}


@media all and (max-width: 1024px) and (min-width: 768px) {
  .container {
    max-width: 1024px;
    padding: 20px;
  }
  .title {
    font-size: 50px;
    line-height: 56.6px;
  }
  .titleBlue {
    font-size: 50px;
  }
}
@media all and (max-width: 768px) and (min-width: 480px) {
  .container {
    max-width: 768px;
    padding: 20px;
  }
  .title {
    font-size: 30px;
    line-height: 45.2px;
  }
  .titleBlue {
    font-size: 30px;
  }
  .rightBlok {
    width: 75%;
  }
  .rightDescr {
    font-size: 16px;
  }
  .downloadBtnText {
    font-size: 12px;
  }
}
@media all and (max-width: 480px) and (min-width: 360px) {
  .container {
    max-width: 480px;
    padding: 20px;
  }
  .title {
    font-size: 25px;
    line-height: 28.3px;
  }
  .titleBlue {
    font-size: 25px;
  }
  .rightBlok {
    width: 75%;
  }
  .rightDescr {
    font-size: 12px;
    line-height: 15px;
  }
  svg {
    width: 136px;
    height: 40px;
  }
  .downloadBtnText {
    font-size: 12px;
  }
}

@media all and (max-width: 360px) {
  .container {
    max-width: 360px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .rightBlok {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .title {
    width: 100%;
    letter-spacing: 1.5px;
    padding: 0;
    font-size: 25px;
    line-height: 28.3px;
  }
  .titleBlue {
    font-size: 25px;
  }
  .downloadBtnText {
    font-size: 12px;
  }
}