.infoBlock {
  width: 320px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.links {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  font-family: 'SansPro', sans-serif;
}

.links:hover {
  color: var(--blue);
}

@media all and (max-width: 1000px) {
  .infoBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
