.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sliderContainer {
  width: 100%;
  display: flex;
}

.sliderElement img {
  min-width: 0px;
  max-width: 1300px;
  height: 100%;
  margin-right: 20px;
}
