.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sliderContainer {
  width: 100%;
  display: flex;
}

.sliderElement img {
  min-width: 0px;
  width: 1920px;
  height: 900px;
  margin-right: 20px;
}
