.container {
  max-width: 100%;
  overflow: hidden;
  pointer-events: none;
  padding: 20px;
}
.tickerTitle {
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.tickerTitleText {
  font-family: 'Bebas', 'SansPro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.tickerContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 50px;
  /* animation: scroll 15s infinite linear; */
}

.ticker {
  /* width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; */
  /* width: 100%; */
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}
.ticker img{
  width: 10%;
}

.tatneft {
  padding-bottom: 10px;
}
.mosenergo {
  padding-bottom: 17px;
}
.rusneft {
  padding-bottom: 5px;
}
.group {
  padding-bottom: 26px;
}
.mondi {
  padding-bottom: 7px;
}
.rusal {
  padding-top: 6px;
}



@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@media all and (max-width: 1024px) and (min-width: 768px) {
  .tickerTitleText {
    font-size: 50px;
  }
}

@media all and (max-width: 768px) and (min-width: 480px) {
  .ticker {
    gap: 50px;
  }
  .tickerTitleText {
    font-size: 40px;
  }
}

@media all and (max-width: 480px) and (min-width: 360px) {
  .ticker {
    gap: 50px;
  }
  .tickerTitleText {
    font-size: 30px;
  }
}

@media all and (max-width: 360px) {
  .tickerContainer {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    gap: 70px;
    animation: none;
  }

  .tickerTitleText {
    font-size: 20px;
  }

  .tickerTitle {
    padding-bottom: 0;
  }
  
  .ticker {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;
  }
  .ticker img{
    width: 40%;
  }
}
