.header {
  max-width: var(--maxWidth);
  margin-bottom: 100px;
}

@media all and (min-width: 1000px) {
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
  }
}

@media all and (min-width: 1540px) {
  .header {
    padding: 67px 0;
  }
}

@media all and (max-width: 1000px) {
  .header {
    max-width: 940px;
    padding: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
}
@media all and (max-width: 768px) {
  .header {
    display: none;
  }
}