.container {
    max-width: var(--maxWidth);
    margin-bottom: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 105px;
    background: url(../../../img/404.svg) no-repeat;
    background-size: contain;
    background-position: 50%;
}

h1 {
    font-family: 'Bebas', 'SansPro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 113.2%;
    color: #FFFFFF;
}

p {
    font-family: 'SansPro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 113.2%;
    color: #FFFFFF;
}

.notFound_text a {
    color: #008FFF;
    border-bottom: 1px solid #008FFF;
}

span:hover {
    cursor: pointer;
}