.certificateContainer {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.certificateTitle {
    width: 1300px;
    padding-bottom: 50px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.certificateTitle h2 {
    font-family: 'Bebas', 'SansPro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: var(--white);
}

.certificateTitleDescription {
    padding: 30px 0 50px 0;
    width: 746px;
    font-family: 'SansPro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: var(--white);
}

.descriptionBlue {
    color: var(--blue);
}

@media all and (max-width: 1024px) and (min-width: 768px) {
    .certificateContainer {
      max-width: 1024px;
      padding-top: 87px;
    }
    h2 {
      font-size: 50px;
    }
    .certificateTitle {
      max-width: 1024px;
      margin-left: 20px;
      width: auto;
      text-align: left;
      padding-bottom: 40px;
    }
    .certificateTitleDescription {
      font-size: 20px;
      width: 746px;
    }
  }
  
  @media all and (max-width: 768px) and (min-width: 480px) {
    .certificateContainer {
      max-width: 768px;
      padding-top: 70px;
    }
    h2 {
      font-size: 40px;
    }
    .certificateTitle {
      max-width: 768px;
      margin-left: 20px;
      width: auto;
      text-align: left;
      padding-bottom: 20px;
    }
    .certificateTitleDescription {
      font-size: 16px;
      width: 473px;
    }
  }
  
  @media all and (max-width: 480px) and (min-width: 360px) {
    .certificateContainer {
      max-width: 480px;
      padding-top: 20px;
    }
    h2 {
      font-size: 30px;
    }
    .certificateTitle {
      max-width: 480px;
      width: auto;
      text-align: left;
      padding-bottom: 20px;
    }
    .certificateTitleDescription {
      font-size: 16px;
      width: 100%;
    }
  }
  
  @media all and (max-width: 360px) {
    .certificateContainer {
      max-width: 360px;
      padding-top: 25px;
    }
    h2 {
      font-size: 20px;
    }
    .certificateTitle {
      max-width: 360px;
      width: auto;
      text-align: left;
      padding-bottom: 10px;
    }
    .certificateTitleDescription {
      font-size: 14px;
      width: 100%;
    }
  }