.container {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    pointer-events: none;
    padding: 20px;
  }
  
  .tickerContainer {
    /* width: 240%; */
    width: 100vw;
    display: flex;
    align-items: space-between;
    gap: 50px;
    margin-bottom: 30px;
    /* animation: scroll 7s infinite linear; */
  }
  
  .ticker {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 80px;
  }

  .tickerImg {
    /* width: 10%; */
    padding: 0 50px 0 50px;
  }
  
  .containerOne {
    /* animation: scroll 7s infinite linear; */
  }
  
  .tatneft {
    /* padding-bottom: 10px; */
    padding-bottom: 46px;
  }
  
  .mosenergo {
    /* padding-bottom: 17px; */
    padding-bottom: 51px;
  }
  
  .rusneft {
    padding-bottom: 14px;
  }
  
  .rosneft {
    padding-bottom: 32px;
    height: 8em;
  }
  
  .group {
    padding-bottom: 12px;
  }
  
  .mondi {
    /* padding-bottom: 7px; */
    padding-bottom: 29px;
  }
  
  .rusal {
    padding-bottom: 8px;
  }
  
  .sibur {
    width: 165px;
    height: 30px;
  
    /* margin-top: 55px; */
    margin-top: 53px;
  }
  
  .lukoil {
    width: 184px;
    height: 49px;
    margin-top: 40px;
  }
  
  .gazprom {
    padding-bottom: 45px;
  }
  
  .nornickel {
    padding-bottom: 3px;
  }
  
  .arctickgaz {
    padding-bottom: 25px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-175%);
    }
  }
  
  /* @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  } */