.certificate {
  padding: 100px 0 100px 0;
}

.certificateTitle {
  padding-bottom: 50px;
}

.certificateTitle h2 {
  font-family: 'Bebas', 'SansPro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: var(--white);
}

.certificateTitleDescription {
  padding: 30px 0 50px 0;
  width: 746px;
  font-family: 'SansPro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color: var(--white);
}

.descriptionBlue {
  color: var(--blue);
}

.certificateSlider {
  max-width: var(--maxWidth);
  overflow: hidden;
  position: relative;
}

.certificateSliderContainer {
  width: 200%;
  display: flex;
  animation: scroll 10s ease linear;
}

.certificateSliderPrevArrow {
  position: absolute;
  left: 0;
  top: 40%;
  background-color: gray;
  padding: 10px;
  opacity: 0.4;
  border-radius: 30%;
  z-index: 999;
}

.certificateSliderPrevArrow img {
  width: 30px;
}

.certificateSliderPrevArrow:hover {
  scale: 1.1;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.8;
}

.certificateSliderNextArrow {
  position: absolute;
  right: 10px;
  top: 40%;
  background-color: gray;
  padding: 10px;
  opacity: 0.4;
  border-radius: 30%;
}

.certificateSliderNextArrow img {
  width: 30px;
}

.certificateSliderNextArrow:hover {
  scale: 1.1;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.8;
}

.certificateSliderContainer {
  width: 210%;
  display: flex;
  animation: wobble 10s infinite linear;
}

.certificateSliderElement {
  padding: 10px;
}

.certificateSliderElement img {
  width: 210px;
  height: 297px;
}

.tikerCertificate {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.tikerCertificate img {
  width: 210px;
  height: 297px;
}

@keyframes wobble {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-50%, 0);
  }
}