.certificate {
  padding: 100px 0 100px 0;
}

.certificateTitle {
  padding-bottom: 50px;
}

.certificateTitle h2 {
  font-family: 'Bebas', 'SansPro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: var(--white);
}

.certificateTitleDescription {
  padding-top: 30px;
  width: 746px;
  font-family: 'SansPro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color: var(--white);
}

.descriptionBlue {
  color: var(--blue);
}