.certificate {
  padding: 100px 0 100px 0;
}

.certificateTitle {
  padding-bottom: 50px;
}

.certificateTitle h2 {
  font-family: 'Bebas', 'SansPro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: var(--white);
}

.certificateTitleDescription {
  padding: 30px 0 50px 0;
  width: 746px;
  font-family: 'SansPro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color: var(--white);
}

.descriptionBlue {
  color: var(--blue);
}

.certificateSlider {
  width: 100%;
  position: relative;
}

.certificateSliderPrevArrow {
  position: absolute;
  left: -40px;
  top: 40%;
}

.certificateSliderPrevArrow img {
  width: 30px;
}
.certificateSliderPrevArrow img:hover {
  scale: 1.1;
  transition: 0.3s;
  cursor: pointer;
}

.certificateSliderNextArrow {
  position: absolute;
  right: -40px;
  top: 40%;
}

.certificateSliderNextArrow img {
  width: 30px;
}

.certificateSliderNextArrow img:hover {
  scale: 1.1;
  transition: 0.3s;
  cursor: pointer;
}

.certificateSliderWrapper{
  width: 100%;
  display: flex;
  max-width: var(--maxWidth);
  overflow: hidden;
  animation: scroll 10s infinite linear;
}
.certificateSliderWrapper span{
  width: 100%;
  display: flex;
  max-width: var(--maxWidth);
  overflow: hidden;
  
}

.certificateSliderElement {
  padding: 10px;
}

.certificateSliderElement img {
  width: 210px;
  height: 297px;
}

.tikerCertificate img {
  width: 210px;
  height: 297px;
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-50%, 0);
  }
}