.logoLink {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* width: 12.938em;
  height: 4.75em; */
  width: 18.938em;
  height: 6.75em;
  
}
.logo {
  /* width: 175px;
  height: 70px; */
  width: 100%;
  height: 100%;
  /* width: 250px;
  height: 85px; */
}

.logo:hover {
  cursor: pointer;
}

@media all and (max-width: 1024px) and (min-width:768px){
  .logoLink {
    margin-left: 10%;
  }
  .logo {
    width: 90%;
    height: 90%;
  }
}
@media all and (max-width: 768px) and (min-width: 480px){
  .logoLink {
    margin-left: 10%;
  }
  .logo {
    width: 90%;
    height: 90%;
  }
}
@media all and (max-width: 768px) {
  .logoLink {
    justify-content: center;
  }
  .logo {
    width: 90%;
    height: 90%;
  }
}
@media all and (max-width: 480px) and (min-width: 360px){
  .logoLink {
    margin-left: 10%;
  }
  .logo {
    /* width: 80%;
    height: 80%; */
    width: 165px;
    height: 56px;
  }
}
@media all and (max-width: 360px) {
  .logo {
    /* width: 60%;
    height: 60%; */
    width: 110px;
    height: 38px;
  }
}