.bread小rumbs {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
}

.bread小rumbs a{
    color: #707070;
    font-family: 'SansPro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.bread小rumbs ol {
    display: flex;
    list-style-type: none;
    padding: 0;
}
.bread小rumbs ol span{
    color: #707070;
}