.footerContainer {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
    padding: 40px;
}

.logo {
    width: 160px;
    height: 55px;
    margin-right: 10px;
}

.footerLinks {
    display: flex;
    flex-direction: column;
}
.footerLinks div:nth-child(2) {
    padding-top: 20px;
}

.footerRightLinksRouting {
    display: flex;
    font-family: 'SansPro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: var(--white);
    align-self: flex-end;
}
.footerRightLinksRouting a{
    padding-right: 20px;
}

.footerRightLinksRouting a:hover {
    color: var(--blue);
    text-decoration: underline;
}

.footerRightLinksRouting a:last-child{
    padding-right: 0;
}

.footerRightLinksProducts {
    display: flex;
    flex-wrap: nowrap;
    font-family: 'SansPro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
}

.footerRightLinksProducts a{
    padding-right: 19px;
}

.footerRightLinksProducts a:last-child{
    padding-right: 0;
}
.footerRightLinksProducts a:hover {
    color: var(--blue);
    text-decoration: underline;
}

@media all and (max-width: 1024px) and (min-width: 768px) {
    .logo{
        width: 175px;
        height: 60px;
    }
    .footerContainer {
        max-width: 1024px;
        padding: 20px;
    }
    .footerRightLinksProducts a{
        padding-right: 15px;
    }
    .footerRightLinksProducts {
        display: flex;
        flex-wrap: wrap;
        text-align: right;
    }
}
@media all and (max-width: 768px) and (min-width: 480px) {
    .logo{
        width: 165px;
        height: 56px;
    }
    .footerContainer {
        max-width: 768px;
        padding: 20px;
    }
    .footerRightLinksProducts a{
        padding-right: 15px;
    }
    .footerLinks {
        max-width: 369px;
    }
    .footerRightLinksProducts {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 8px;
    }
    .footerLinks a {
        font-size: 1em;
    }
    .footerRightLinksRouting {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media all and (max-width: 480px) {
    .footerContainer {
        max-width: 99%;
        padding: 20px;
    }
    .logo {
        display: none;
    }
    .footerRightLinksProducts a{
        padding-right: 15px;
    }
    .footerLinks {
        max-width: 369px;
    }
    .footerRightLinksProducts {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 8px;
    }
    .footerLinks a {
        font-size: 16px;
    }
    .footerRightLinksRouting {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footerRightLinksProducts a:last-child {
        padding-right: 15px;
    }
}