.navbar {
  max-width: 500px;
}

.navList {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.navLink {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  font-family: 'SansPro', sans-serif;
}

.navLink:hover {
  color: var(--blue);
}

.navLink:hover + .underLine {
  display: block;
}

.underLine {
  display: none;
  width: 100%;
  border: 0.5px solid var(--blue);
}
