h1 {
    font-family: 'Bebas', 'SansPro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 113.2%;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.text_width {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.map {
    position: relative;
}

.map iframe{
    width: 100%;
	filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
    mix-blend-mode: difference;
}

.difference {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999;
    background-color: white;
    mix-blend-mode: difference;
    pointer-events: none;
}

.contactInfo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.contactInfo_text {
    font-family: 'SansPro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: left;
}

.contactInfo_title {
    font-family: 'SansPro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #707070;
}

.contactInfo_btn {
    font-family: 'SansPro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #008FFF;
}

.leftBlock div{
    width: 308px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.leftBlock a{
   display: flex;
   align-items: flex-start;
   gap: 6px;
   padding-top: 12px;
}

.centerBlock div{
    width: 140px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.rightBlock div{
    width: 130px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

@media all and (max-width: 1000px) {
    .contact_main {
        width: 940px;
        padding: 20px;
    }
    .contactInfo {
        width: 865px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }
}
@media all and (max-width: 768px) {
    .contact_main {
        width: 700px;
        padding: 20px;
    }
    .contactInfo {
        width: 700px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }
    h1 {
        font-family: 'Bebas', 'SansPro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 113.2%;
        color: #FFFFFF;
        padding-bottom: 30px;
    }
}
@media all and (max-width: 480px) {
    .contact_main {
        width: 440px;
        padding: 20px;
    }
    .contactInfo {
        width: 440px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }
    .map {
        width: 440px;
    }
    h1 {
        font-size: 30px;
    }
    .contactInfo_text {
        font-size: 16px;
    }
    
    .contactInfo_title {
        font-size: 14px;
    }
    .rightBlock {
        display: flex;
        justify-content: space-between;
        /* потом удалить после добавления хука на расширение экрана */
        display: none;
    }
}
@media all and (max-width: 360px) {
    .contact_main {
        width: 320px;
        padding: 20px;
    }
    .contactInfo {
        width: 320px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }
    .map {
        width: 360px;
    }
    h1 {
        font-size: 20px;
    }
    .contactInfo_text {
        font-size: 14px;
    }
    
    .contactInfo_title {
        font-size: 14px;
    }
    .leftBlock div{
        width: 163px;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .rightBlock {
        display: flex;
        justify-content: space-between;
        /* потом удалить после добавления хука на расширение экрана */
        display: none;
    }
}
