.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding: 20px;
  padding-right: 0;
}

.certificate_list_img {
  width: 210px;
  height: 297px;
}

.certificate_list_text h1 {
  font-family: 'Bebas', 'SansPro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 113.2%;
  color: #ffffff;
}

.certificate_list_text p {
  font-family: 'SansPro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color: #ffffff;
  text-align: left;
}

.certificate_list_text span {
  color: #008fff;
}

.certificate_list_text {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.certificate_list_upBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.certificate_image {
  width: 310px;
  height: 439px;
}

.certificate_image:hover {
  scale: 1.05;
  cursor: pointer;
  transition: 0.3s;
}

.certificate_list_upBlock_img {
  display: flex;
  gap: 21px;
}

@media all and (max-width: 1024px) and (min-width: 768px){
  .container {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .certificate_list_text {
    width: 50%;
  }
  .certificate_list_text h1 {
    font-size: 50px;
  }

  .certificate_list_text p {
    font-size: 18px;
  }
  .certificate_image {
    width: 233px;
    height: 332px;
  }

  .certificate_list_upBlock {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
  }
}
@media all and (max-width: 768px) and (min-width: 480px){
  .container {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .certificate_list_text {
    width: 100%;
  }
  .certificate_list_text h1 {
    font-size: 40px;
  }

  .certificate_list_text p {
    font-size: 16px;
  }
  .certificate_image {
    width: 176px;
    height: 250px;
  }

  .certificate_list_upBlock {
    max-width: 750px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
}
@media all and (max-width: 480px) and (min-width: 360px){
  .container {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .certificate_list_text {
    width: 100%;
  }
  .certificate_list_text h1 {
    font-size: 30px;
  }

  .certificate_list_text p {
    font-size: 16px;
  }
  .certificate_image {
    /* width: 48%; */
    width: 214px;
    /* height: auto; */
    height: 206px;
  }

  .certificate_list_upBlock {
    max-width: 750px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
}
@media all and (max-width: 360px) {
  .container {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  .certificate_list_text {
    width: 100%;
  }

  .certificate_list_text h1 {
    font-size: 20px;
  }

  .certificate_list_text p {
    font-size: 14px;
  }

  .certificate_image {
    /* width: 48%;
    height: auto; */
    width: 153px;
    height: 220px;
  }

  .certificate_list_upBlock {
    max-width: 750px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
}
