.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.certificate_list_img {
  width: 210px;
  height: 297px;
}

.certificate_list_text h1 {
  font-family: 'Bebas', 'SansPro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 113.2%;
  color: #ffffff;
}

.certificate_list_text p {
  font-family: 'SansPro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color: #ffffff;
  text-align: left;
}

.certificate_list_text span {
  color: #008fff;
}

.certificate_list_text {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.certificate_list_upBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.certificate_list_upBlock img {
  width: 310px;
  height: 439px;
}

.certificate_list_upBlock img:hover {
  scale: 1.05;
  cursor: pointer;
  transition: 0.3s;
}

.certificate_list_upBlock_img {
  display: flex;
  gap: 21px;
}

@media all and (max-width: 1000px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .certificate_list_text h1 {
    font-size: 50px;
  }

  .certificate_list_text p {
    font-size: 18px;
  }
  img {
    width: 228px;
    height: 332px;
  }

  .certificate_list_upBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
